<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Lecturer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let lecturer of lecturers">
      <ion-label>
        <h2 id="allLecturer">{{lecturer.nama}}</h2>
        <p>BIL. SUBJEK: {{lecturer.bil_subjek}} | BIL. SEKSYEN: {{lecturer.bil_seksyen}} | BIL. PELAJAR: {{lecturer.bil_pelajar}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
