<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <div class="wrap-input-subContent">
          <ion-item class="perInfo">
            <ion-icon class="ion-float-left" routerLink="/settings" name="caret-back-circle-outline"></ion-icon>
            <h5>Announcement</h5>
            <ion-icon class="ion-float-right icos" name="megaphone-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="wrap-input2">
          <div class="title">
            <h6><b>Per: Perubahan Jadual Waktu Kelas</b></h6>
          </div>
          <div class="desc">
            <p>
              Melalui arahan daripada pihak TDA, mohon kerjasama daripada setiap pensyarah supaya tidak membuat perubahan terhadap jadual waktu asal dalam masa dua minggu pertama kuliah. Ia bagi mengelakkan masalah pertindihan jadual waktu serta kekeliruan oleh pihak pelajar.
              Sekian Terima Kasih
            </p>
            <p style="font-style: italic; font-size: small;">
              TTMS System Administrator
            </p>
            <br>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
