<!--<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center custom font">Login Schedular</ion-title>
  </ion-toolbar>
</ion-header>-->

<!-- Body -->
<ion-content fullscreen="true">
  <!-- Insert content here -->
  <div class="ion-padding cont">
    <div class="loginIntro">
      <img src="../assets/img/logoSchedular.png" alt="Schedular" width="120" height="120">
      <p class="ion-text-left topText">Proceed with your</p>
      <p class="ion-text-left textBottom">Login</p>
    </div>

    <div class="ion-padding">
      
      <form class="formLogin" method="" action="">
        
        <div class="wrap-input">
          <ion-label class="label" position="stacked">Username</ion-label>
          <ion-item  class="in">            
            <ion-input class="test" type="text" name="username"></ion-input>
            <ion-icon class="ion-float-right icon" name="person"></ion-icon>
          </ion-item>
        </div>
        
        <div class="wrap-input">
          <ion-label class="label" position="stacked">Password </ion-label> 
          <ion-item class="in">            
            <ion-input type="text" name="password"></ion-input>            
            <ion-icon class="ion-float-right icon" name="keypad"></ion-icon>
          </ion-item>
        </div>

        <div class="container-form-btn buttonLogin">
          <ion-button type="submit" color="danger" expand="block">Login</ion-button>
        </div>

      </form>
      
      <div class="guest">
            <a class="ion-float-right small-text">Login as guest</a>
      </div>      

    </div>

  </div>

</ion-content>

<!--
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Schedular</p>
  </ion-toolbar>
</ion-footer>-->