<!-- Body -->
<ion-content fullscreen="true">
  <!-- Insert content here -->
  <div class="ion-padding cont">
    <div class="loginIntro">
      <img src="../assets/img/logoSchedular.png" alt="Schedular" width="120" height="120">
      <p class="ion-text-left topText">Proceed with your</p>
      <p class="ion-text-left textBottom">Login</p>
    </div>

    <div class="ion-padding">
      
      <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <div class="wrap-input">
        <ion-label class="label" position="stacked">Username</ion-label>
          <ion-item  class="in">            

            <ion-input class="test" type="text" name="username" placeholder="Username" formControlName="username"></ion-input>

            <ion-icon class="ion-float-right icons" name="person-circle-outline"></ion-icon>
          </ion-item>
        </div>
        
        <div class="wrap-input">
          <ion-label class="label" position="stacked">Password </ion-label>
          <ion-item class="in">            

            <ion-input type="password" name="password" placeholder="Password" formControlName="password"></ion-input>            
            <ion-icon class="ion-float-right icons" name="keypad"></ion-icon>
          </ion-item>
        </div>

        <div class="container-form-btn buttonLogin">
          <!-- <ion-button routerLink="/dashboard" type="submit" color="danger" expand="block">Login</ion-button> -->
          <ion-button type="submit" color="danger" expand="block">Login</ion-button>
        </div>

      </form>
      
      <div class="guest">
        <a routerLink="/dashboard" class="ion-float-right small-text">Login as guest</a>
      </div>      

    </div> <!-- Ion padding -->
  </div> <!-- Ion Padding cont -->

  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</ion-content>