.custom-font{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

ion-toolbar {
    --background: transparent;

    ion-title{
        padding: 20px 0 46px 0;
        font-weight: 300;
    }

    p{
        padding: 40px 0 5px 0;
        font-weight: 100;
    }
}

ion-content{

    .cont{
        margin-top: 90px;
        margin-bottom: 30px;
    }    

    .loginIntro{
        //padding: 10px 0 5px 0;
        p{
            margin-top:-2px;
        }
        p.topText{
            margin-bottom: -1px;
            font-weight: normal;
            font-size: 25px;
        }

        p.textBottom{
            font-family: 'Bebas Neue', cursive;      
            margin-top: -5px;     
            font-weight: bold;
            font-size: 45px;
            letter-spacing: 2px;
        }
    }

    .formLogin{
        
        .in{
            border: 2px solid #D92353;
            border-radius: 8px;
            margin-bottom: 8px;
            font-weight: bold; 
        }
        
        .label{
            margin: -15px 0 0 8px;
            padding: 0 5px 0 5px;
            position: absolute;
            background-color: red;
            font-size: medium;   
        }

        .icon { 
            position: absolute;
            padding: 5px 0 0 185px; 
            color: #D92353; 
            min-width: 50px; 
            text-align: center; 
        } 

        .buttonLogin{
            padding: 25px 20px 0 20px;
        }
    }

    .guest{
        a{
            padding: 3px 20px 0 135px;
            color: #757575;
            font-weight: bold;
            font-size: 15px;
        }        
    }    
    
}