<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo">
            <ion-icon class="ion-float-left" routerLink="/settings" name="caret-back-circle-outline"></ion-icon>
            <h5>Contact Us</h5>
            <ion-icon class="ion-float-right icos" name="mail-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="wrap-input2">
          <div class="emailWebmaster">
            <p>
              <ion-icon name="mail"></ion-icon>
              Email Webmaster
              <b style="float: right;">ttms@fc.utm.my</b>
            </p>
            <div class="border"></div>
          </div>
          <div class="emailDev">
            <p>
              <ion-icon name="mail"></ion-icon>
              Email Developer
              <b style="float: right;">trioMacan@fc.my</b>
            </p>
            <div class="border"></div>
          </div>
          <div class="mediaSocial">
            <p>
              <ion-icon name="logo-twitter"></ion-icon>
              Twitter
              <b style="float: right;">@trioMacan</b>
            </p>
            <div class="border"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
