<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Subject</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let subject of subjects">
      <ion-label>
        <h2>{{subject.nama_subjek}}</h2>
        <p>Kod Subjek: {{subject.kod_subjek}} | Bil. Pelajar: {{subject.bil_pelajar}} | Bil. Seksyen: {{subject.bil_seksyen}} | Bil. Pelajar: {{subject.bil_pelajar}} | Bil. Pensyarah {{subject.bil_pensyarah}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
