<ion-content>
<!--   <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="0">
  </calendar> -->
  <ion-grid>
  <ion-row>
    <ion-col size="12">
        <ion-card>
  
          <ion-card-header>        
            <img src='../../assets/img/logoSchedular.png'>
            <ion-card-subtitle>Schedular Logo</ion-card-subtitle>
            <ion-card-title><b> Welcome !</b></ion-card-title>
          </ion-card-header>

          <ion-card-content style="text-align: justify; text-justify: inter-word;">
            This is an application that created by students of SCSJ3104 -
            Trio Macan. Using this application will ease you to view the subject schedule,
            information abouts lecturers and subjects of School of Computer Science, UTM

            <p style="margin-top: 25px; font-style: italic;">Let's get started!</p>
          </ion-card-content>

        </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
