<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo">
            <ion-icon class="ion-float-left" routerLink="/settings" name="caret-back-circle-outline"></ion-icon>
            <h5>About Us</h5>
            <ion-icon class="ion-float-right icos" name="information-circle-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="wrap-input2">
          <div class="title">
            <h6>
              <img src="assets/img/logoSchedular.png" alt="Schedular logo" class="imgSch">
              <div class="texts">
                <b>Schedular v1.0</b><br>
                Organize your schedule efficiently
              </div>
            </h6>
          </div>
          <div class="desc">
            <p>
              Schedular is an application specifically for student and lecturer
              of School of Computing, UTM to view their class timetable. With this app, student
              can view the upcoming classes while lecturer can also manage and view the classess
              on the current semester.
            </p>
            <p style="font-weight: bold; font-size: medium; float: left;">
              Developer
            </p>
            <p style="font-size: medium; float: right;">
              Trio Macan
            </p>
            <br>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
