<ion-header>
  <ion-toolbar color="primary">
    
      <ion-buttons slot="start">
        <ion-menu-button id="main-content"></ion-menu-button>
      </ion-buttons>

      <ion-tab-bar color="primary">
        
        <ion-tab-button tab="timetable">
          <ion-label>
            <h2>Timetable</h2>
          </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="event">
          <ion-label>
            <h2>Event</h2>
          </ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    
  </ion-toolbar>
</ion-header>

<ion-content> <!-- Timetable -->

  <!-- <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button> -->

   <!-- Greetings -->
   <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-card>
    
            <ion-card-header>        
              <img src='../../assets/img/logoSchedular.png'>
              <ion-card-subtitle>Schedular Logo</ion-card-subtitle>
              <ion-card-title><b> Welcome {{name | titlecase}} !</b></ion-card-title>
            </ion-card-header>

            <ion-card-content style="text-align: justify; text-justify: inter-word;">
              This is an application that created by students of SCSJ3104 -
              Trio Macan. Using this application will ease you to view the subject schedule,
              information abouts lecturers and subjects of School of Computer Science, UTM

              <p style="margin-top: 25px; font-style: italic;">Let's get started!</p>
            </ion-card-content>

          </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
