.custom-font{ // Custom font from Google font
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

.ion-padding{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    #eventCalendar{
        
        //background-color: ;
    }
}