<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">

<ion-app>
  <ion-split-pane contentId="main-content">

    <!-- Side Menu -->
    <ion-menu contentId="main-content" type="overlay">

      <ion-header>
        <ion-toolbar color="primary">
          
          <ion-item color="primary">
            <!-- <ion-icon slot="start" name="person-outline" class="ion-padding-top"></ion-icon> -->
            <ion-label position="stacked">Student</ion-label>
            <ion-title class="ion-no-padding">Hasan Mubarak</ion-title>
          </ion-item>
          <ion-item color="primary">
            <!-- <ion-icon slot="start" name="card-outline" class="ion-padding-top"></ion-icon> -->
            <ion-label position="stacked">Matric No</ion-label>
            <ion-title class="ion-no-padding">BxxECxxxx</ion-title>
          </ion-item>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/dashboard" color="primary" class="ion-margin-top">
              <ion-icon slot="start" name="menu"></ion-icon>
              <ion-title class="ion-no-padding">Dashboard</ion-title>
            </ion-item>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-header>

      <ion-content>    
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item>
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label>Events List</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item>
              <ion-icon slot="start" name="library-outline"></ion-icon>
              <ion-label>Subject</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item>
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>Lecturer</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/settings">
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
