<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">

<ion-app>
  <ion-split-pane contentId="main-content">

    <!-- Side Menu -->
    <ion-menu contentId="main-content" type="overlay">

      <ion-header>
        <ion-toolbar color="primary">
          <!-- User Info -->
          <div class="userInfo">
            <div class="nameUser">
              <!-- <ion-icon slot="start" name="person-outline" class="ion-padding-top"></ion-icon> -->
              <ion-label id="nme" position="stacked">Student</ion-label>
              <ion-title class="ion-no-padding">{{name | titlecase}}</ion-title>
            </div>
            <div class="IdUser">
              <!-- <ion-icon slot="start" name="card-outline" class="ion-padding-top"></ion-icon> -->
              <ion-label id="mno" position="stacked">Matric No</ion-label>
              <ion-title class="ion-no-padding">{{matrik | uppercase}}</ion-title>
            </div>
          </div>
          <!-- Menu Navigation -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/dashboard" color="primary" class="ion-margin-top">
              <ion-icon slot="start" name="grid-outline"></ion-icon>
              <ion-title class="ion-no-padding">Dashboard</ion-title>
            </ion-item>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Event -->
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/event">
              <ion-icon slot="start" name="list-circle-outline"></ion-icon>
              <ion-label>Events List</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- Subject -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/subject">
              <ion-icon slot="start" name="library-outline"></ion-icon>
              <ion-label>Subject</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- Lecturer -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/lecturer">
              <ion-icon slot="start" name="people-circle-outline"></ion-icon>
              <ion-label>Lecturer</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- Settings -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/settings">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
