a {
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  color: #334953;
}
a:visited,
a:link {
  color: #334953;
}
a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
a.active {
  color: #039be5;
}

.bckcolo {
  background-color: #334953;
}
