<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Lecturer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Tab menu -->
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="stud-lecturer">
        <ion-title>My Lecturer</ion-title>
      </ion-tab-button>

      <!-- redirect to all lecturer list page -->
      <ion-tab-button tab="all-lecturer">
        <ion-title>All Lecturer</ion-title>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
