<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Personal Information -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo">            
            <p id="textPerInfo">Personal Information</p>
            <ion-icon class="ion-float-right icos" name="person-circle-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <!--             General          -->
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-text>
            <p class="titl">General</p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <!-- About -->
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo" routerLink="">            
            <p id="textPerInfo">About</p>
            <ion-icon class="ion-float-right icos" name="information-circle-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <!-- Contact us -->
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo" routerLink="">            
            <p id="textPerInfo">Contact Us</p>
            <ion-icon class="ion-float-right icos" name="mail-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <!--             Advanced          -->
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-text>
            <p class="titl">Advanced</p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <!-- About -->
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo" routerLink="">            
            <p id="textPerInfo">Documentation</p>
            <ion-icon class="ion-float-right icos" name="document-text-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <!-- Contact us -->
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo" routerLink="">            
            <p id="textPerInfo">Announcement</p>
            <ion-icon class="ion-float-right icos" name="megaphone-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <!-- Log out -->
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo" routerLink="/login">            
            <p id="textPerInfo">Log Out</p>
            <ion-icon class="ion-float-right icos" name="log-out-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</ion-content>