.wrap-input{
    font-size: medium;
    font-weight: 600;
    #textPerInfo{
        //background-color: yellow;
        //padding: 0 90px 0 0;
    }
    
    .icos{
        //background-color: aqua;
        margin-left: 10px;
        float: right;
    }
}

.titl{
    //background-color: red;
    color: grey;
    padding-left: 13px;
}