.wrap-input{
    font-size: medium;
    //font-weight: 600;
    
    .wrap-input_pI{
        margin: 0 0 0 14px;
        //background-color: red;
        font-size: 15px;
        font-weight: 300;
    }
    
    .icos{
        //background-color: aqua;
        margin-left: 10px;
        float: right;
    }
}

.titl{
    //background-color: red;
    color: grey;
    padding-left: 13px;
}