<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo">            
            <p id="textPerInfo">Personal Information</p>
            <ion-icon class="ion-float-right" id="icons" name="person-circle-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="wrap-input">
          <ion-item class="perInfo" routerLink="/login">            
            <p id="textPerInfo">Log Out</p>
            <ion-icon class="ion-float-right" id="icons" name="log-out-outline"></ion-icon>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</ion-content>