<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button >Today</ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content slot="fixed">
  <!-- <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="0">
  </calendar> -->
  
  <div class="scrolling-wrapper">
    <div class="card">
      <ion-row class="header-row">
        <ion-col size="2" class="ion-text-wrap">Time</ion-col>
        <ion-col size="1" class="ion-text-wrap">Sun</ion-col>
        <ion-col size="1" class="ion-text-wrap">Mon</ion-col>
        <ion-col size="1" class="ion-text-wrap">Tue</ion-col>
        <ion-col size="1" class="ion-text-wrap">Wed</ion-col>
        <ion-col size="1" class="ion-text-wrap">Thu</ion-col>
        <ion-col size="1" class="ion-text-wrap">Fri</ion-col>
        <ion-col size="1" class="ion-text-wrap">Sat</ion-col>
      </ion-row>
    
      <ion-row *ngFor="let timetable of timetables.times" class="">
        <ion-col size="2" class="ion-text-wrap body-row"> {{timetable.time}} </ion-col>
        <ion-col size="1" class="ion-text-wrap body-row"> {{timetable.days[0].course_code}}{{timetable.days[0].section}} <br> {{timetable.days[0].room}} </ion-col>
        <ion-col size="1" class="ion-text-wrap body-row"> {{timetable.days[1].course_code}}{{timetable.days[1].section}} <br> {{timetable.days[1].room}} </ion-col>
        <ion-col size="1" class="ion-text-wrap body-row"> {{timetable.days[2].course_code}}{{timetable.days[2].section}} <br> {{timetable.days[2].room}} </ion-col>
        <ion-col size="1" class="ion-text-wrap body-row"> {{timetable.days[3].course_code}}{{timetable.days[3].section}} <br> {{timetable.days[3].room}} </ion-col>
        <ion-col size="1" class="ion-text-wrap body-row"> {{timetable.days[4].course_code}}{{timetable.days[4].section}} <br> {{timetable.days[4].room}} </ion-col>
        <ion-col size="1" class="ion-text-wrap body-row"> {{timetable.days[5].course_code}}{{timetable.days[5].section}} <br> {{timetable.days[5].room}} </ion-col>
        <ion-col size="1" class="ion-text-wrap body-row"> {{timetable.days[6].course_code}}{{timetable.days[6].section}} <br> {{timetable.days[6].room}} </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
